[Desktop Entry]
Name=Flocore Clock
GenericName=Flocore Clock
Comment=Simple clock app
Categories=Utility;
Exec=com.github.flocore.flocoreclock
Icon=com.github.flocore.flocoreclock
Terminal=false
Type=Application
Keywords=Clock;FlocoreClock;FlocoresClock;